.header-container {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid #e5e7eb;
    display: flex;
    justify-content: center; 
}

.logo-wrapper {
    width: 100px; 
    height: 100px;
}

.logo-2ie {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}